{% macro wpkey(key) %}
{{ key }}
{% endmacro %}

version: "2"

networks:
  proxy_net:
    external:
      name: proxy_net

volumes:
  {{ MANTIS_DB_VOLUME }}:
    external: True
  {{ MANTIS_VOLUME }}:
    external: True
  {{ MANTIS_LOGS }}:
    external: True

services:

  mantisbt:
    image: vimagick/mantisbt:latest
    networks:
      - proxy_net
    volumes:
      - {{ MANTIS_VOLUME }}:/var/www/html
      - {{ MANTIS_LOGS }}:/var/log
    environment:
     VIRTUAL_HOST: {{ mantis_domain_name }}
{% if SSL == True %}
     LETSENCRYPT_HOST: {{ mantis_domain_name }}
     LETSENCRYPT_EMAIL: {{ mantis_letsencrypt_mail }}
     LETSENCRYPT_TEST: "{{ letsencrypt_testmode }}"
{% endif %}

    links:
      - mysql
    restart: always

  mysql:
    networks:
      - proxy_net
    image: mariadb:latest
    volumes:
      - {{ MANTIS_DB_VOLUME }}:/var/lib/mysql
    environment:
      - MYSQL_ROOT_PASSWORD={{DB_ROOT_PASSWORD}}
      - MYSQL_DATABASE={{MANTIS_DB_NAME}}
      - MYSQL_ROOT_USER={{DB_ROOT_USER}}
      - MYSQL_USER={{DB_USER}}
      - MYSQL_PASSWORD={{DB_PASSWORD}}
    restart: always
