g_phpMailer_method = PHPMAILER_METHOD_SMTP;
$g_administrator_email = '{{admin_email}}';
$g_webmaster_email = '{{webmaster_email}}';
$g_return_path_email = '{{return_path_email}}';
$g_from_email = '{{from_email}}';

$g_smtp_host = 'smtp.gmail.com';
$g_smtp_port = 465;
$g_smtp_connection_mode = 'ssl';
$g_smtp_username = '{{gmail_username}}';
$g_smtp_password = '{{gmail_password}}';

$g_log_level = LOG_EMAIL | LOG_EMAIL_RECIPIENT;
$g_log_destination = 'file:/var/log/mantisbt.log';

$g_validate_email = OFF;
